@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-md-6">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <label for="add_library_name">Назва бібліоетки:</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="add_library_name" name="add_library_name" required>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="add_library_place">Місце бібліоетки:</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="add_library_place" name="add_library_place" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>